[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/

config/private-key.txt
config/smtp-account.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ====== #
# Others #
# ====== #
*.exe
*.blend1
*.blend2
*.sh
Assets/Plugins/uZone/Assembly/uZone.xml.meta